.bg-rosegold {
    background-color: darksalmon;
}

.text-rosegold {
    color: darksalmon;
}

.spirax {
    font-family: 'Spirax', cursive;
}

.emilys-candy {
    font-family: 'Emilys Candy', cursive;
}

.love-ya-like-a-sister {
    font-family: 'Love Ya Like A Sister', cursive;
}